<!-- 1. Contenedor general -->
<section class="inventario">


    <!-- 2. Barra de opciones superior de  la tabla -->
    <div class="section-sup">


        <!-- 3. Contenedor de cantidad de elementos -->
        <div class="number-products">
                <label for="num">Mostrar </label>
                <select name="" id="num" [(ngModel)]="selectedLimit">
                    <option value="5">5</option>
                    <option value="10">10</option>
                <option value="15">15</option>
            </select>
            <p> Ubicaciones</p>
        </div>


        <!-- 4. Contenedor de la paginación -->
        <div class="paginacion">
            <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1"><i class='bx bx-chevron-left'></i></button><span>Página {{ currentPage }} de {{ totalPages }}</span><button (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages"><i class='bx bx-chevron-right'></i></button>
        </div>


        <!-- 5. Contenedor de los botones -->
        <div class="container-buttons">
            <button id="eliminar" popovertarget="popup-eliminar"><i class='bx bx-minus'></i></button>
            <button id="modificar" popovertarget="popup-modificar"><i class='bx bxs-edit'></i></button>
            <button id="agregar" popovertarget="popup-agregar"><i class='bx bx-plus'></i></button>
        </div>
    

        <!-- 6. Contenedor de busqueda -->
        <div class="container-search">
            <input type="text" name="buscar" placeholder="Buscar..." [(ngModel)]="filterPost">
        </div>

    </div>


    <!-- 7. Contenedor de la tabla de datos -->
    <div class="container-tabla">
        <table>
            <thead>
                <tr>
                    <th id="id_bodega">Id</th>
                    <th id="warehouse_Name">Nombre</th>
                    <th id="direccion">Dirección</th>
                    <th id="opciones">Edición/Borrado</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let post of filteredPosts">
                    <td>{{post.id}}</td>
                    <td>{{post.warehouse_Name}}</td>
                    <td>{{post.direction}}</td>
                    <td>
                        <button id="mod-bodega" (click)="openEditPopup(post)" popovertarget="popup-modificar"><i class="bx bxs-edit"></i></button>
                        <button id="eliminar-bodega" (click)="openDeletePopup(post.id)" popovertarget="popup-eliminar"><i class="bx bx-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</section>


<!-- 8. Sección de los pop-ups -->
<!-- 9. Pop-up de eliminar -->
<div class="pop-ups-fondo" popover id="popup-eliminar">


    <!-- 10. Contenedor pop-up eliminar -->
    <div class="container-pop-up" id="pop-up-eliminar">


        <!-- 11. Contenedor pop-up eliminar barra supeior -->
        <div class="bar-sup">
            <h2>Eliminar una Sucursal</h2>
            <button popovertarget="popup-eliminar" popovertargetaction="hide"><i class='bx bx-x'></i></button>
        </div>


        <!-- 12. Contenedor del formulario de eliminación -->
        <div id="form-eliminar">
            <label for="ID-eliminar">ID de Sucursal</label>
            <input type="text" id="ID-eliminar" [(ngModel)]="warehouseIdToDelete" readonly>
            <button popovertarget="popup-eliminar" (click)="deleteWarehouse()" popovertargetaction="hide" type="submit" id="btn-eliminar">Eliminar</button>
        </div>

    </div>

</div>

    
<!-- 13. Pop-up de modificar -->
<div class="pop-ups-fondo"popover id="popup-modificar">


    <!-- 14. Contenedor pop-up modificar -->
    <div class="container-pop-up" id="pop-up-mod">


        <!-- 15. Contenedor pop-up mod barra superior -->
        <div class="bar-sup">
            <h2>Modificar una Sucursal</h2>
            <button popovertarget="popup-modificar" popovertargetaction="hide"><i class='bx bx-x'></i></button>
        </div>


        <!-- 16. Contenedor del formulario mod -->
        <div class="forms">
            <form id="form-mod" (ngSubmit)="updateWarehouse()" #formMod="ngForm">
                <label id="label-id-modificar">ID de la Sucursal</label>
                <input type="text" id="id-modificar" name="id" [(ngModel)]="editWarehouse.id" readonly/>

                <label class="titulos-form">Nombre de la Sucursal</label>
                <input type="text" name="product_name" [(ngModel)]="editWarehouse.warehouse_Name" required />

                <label class="titulos-form">Dirección de la Sucursal</label>
                <textarea name="description" [(ngModel)]="editWarehouse.direction" required></textarea>
                    
                <button popovertarget="popup-modificar" popovertargetaction="hide" type="submit" id="btn-mod">Modificar</button>
            </form>
                
            <div class="imagen-producto-mod">

                <div class="fondo-imagen">
                    <img src="imagen_defecto.png" alt="">
                </div>         

                <input type="file" class="send-file">

            </div>

        </div>

    </div>

</div>


<!-- 17. Pop-up de agregar -->
<div class="pop-ups-fondo" popover id="popup-agregar">
    
    
    <!-- 18. Contenedor pop-up agregar -->
    <div class="container-pop-up" id="pop-up-agregar">
        
        
        <!-- 19. Contenedor pop-up agregar barra superior -->
        <div class="bar-sup">
            <h2>Agregar Sucursal</h2>
            <button popovertarget="popup-agregar" popovertargetaction="hide"><i class='bx bx-x'></i></button>
        </div>


        <!-- 20. Contenedor del formulario agregar -->
        <div class="forms">
            <form id="form-agregar" #formAgregar="ngForm" (ngSubmit)="addWarehouse()">
                <label id="label-nombre-agregar" class="titulos-form">Nombre de la Sucursal</label>
                <input type="text" name="product_name" [(ngModel)]="newWarehouse.warehouse_Name" required />

                <label class="titulos-form">Dirección de la Sucursal</label>
                <textarea name="description" [(ngModel)]="newWarehouse.direction" required></textarea>

                <button popovertarget="popup-agregar" popovertargetaction="hide" type="submit" id="btn-agregar">Agregar</button>
            
            </form>



            <div class="imagen-producto-agregar">

                <div class="fondo-imagen">
                    <img src="imagen_defecto.png" alt="" />
                </div>

                <input type="file" class="send-file" />

            </div>

        </div>

    </div>

</div>