/* 1. Estilos generales */
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #DFDFDF;
}



/* 2. Estilos del contenedor general */
.inventario{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    margin-top: 10vh;
}



/* 3. Estilos de la barra de opciones superior de  la tabla */
.section-sup{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px 160px;
}



/* 4. Estilos de contenedor de cantidad de datos */
.number-products{
    display: flex;
    background-color: #00AD00;
    padding: 0.30vh 1vw;
    border-radius: 2em;
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin-top: 8vh;
}

.number-products label, 
.number-products p{
    padding: 5px 10px;
}

.number-products select {
    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none;    /* Firefox */
    appearance: none;
    border: none;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    width: 1.5em; /* ajusta el ancho según necesidad */
    height: 1.5em;
    cursor: pointer;
    margin-top: 0.15em;
    outline: none;
}



/* 5. Estilos de la paginación */
.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 7.5vh;
    margin-left: 1vw;
}

.paginacion button {
    display: flex;
    padding: 0.45vw;
    background-color: #00AD00;
    color: white;
    border: none;
    border-radius: 2em;
    cursor: pointer;
}

.paginacion button:hover{
    background-color: #018a01;
}

.paginacion button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}



/* 6. Estilos de contenedor de botones */
.container-buttons{
    margin-top: 6vh;
    margin-left: 32vw;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.container-buttons button{
    width: 2vw;
    height: 2vw;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 5px;
}

.container-buttons button i{
    font-size: 16px;
    color: white;   
}

#eliminar{
    background-color: rgb(201, 61, 61);
    border: solid rgb(172, 27, 27) 2px;
    cursor: pointer;
}

#eliminar:hover{
    background-color: rgb(185, 42, 42);
    border: solid rgb(143, 11, 11) 2px;
}

#modificar{
    background-color: rgb(42, 155, 221);
    border: solid rgb(34, 128, 182) 2px;
    cursor: pointer;
}

#modificar:hover{
    background-color: rgb(17, 133, 201);
    border: solid rgb(15, 96, 143) 2px;
}

#agregar{
    background-color: rgb(33, 179, 65);
    border: solid rgb(14, 150, 43) 2px;
    cursor: pointer;
}

#agregar:hover{
    background-color: rgb(15, 165, 48);
    border: solid rgb(3, 121, 28) 2px;
}



/* 7. Estilos contenedor de busqueda */
.container-search {
    display: flex;
    align-items: center;
    background-color: #00AD00; /* verde brillante */
    padding: 5px 20px;
    border-radius: 10px;
    width: fit-content;
    margin-top: 6vh;
}

.container-search input {
    border: none;
    outline: none;
    padding: 7.5px 10px;
    border-radius: 7px;
    width: 280px;
    font-size: 14px;
}

.container-search button {
    margin-left: 10px;
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container-search button:hover{
    background-color: rgb(226, 226, 226);
    transition: background-color 0.4s ease;
}

.container-search button i {
    color: #00AD00;
    font-size: 22px;
}



/* 8. Estilos del contenedor de la tabla de datos */
.container-tabla {
    margin-top: 4vh;
    padding: 0 10px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 12px;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    border: none;
}

thead {
    background-color: #00AD00;
}

th {
    text-align: left;
    padding: 10px 20px;
    font-weight: 700;
    border: none;
}

#id_bodega{
    width: 5vw;
}

#warehouse_Name{
    width: 15vw;
}

#direccion{
    width: 30vw;
}

#opciones{
    width: 8vw;
}

tbody td {
    text-align: center;
    color: black;
    background-color: #d3d3d3;
    padding: 15px;
    border: none;
}

thead th:first-child {
    border-top-left-radius: 10px;
}

thead th:last-child {
    border-top-right-radius: 10px;
}



/* 9. Estilos del contenedor de los pop-ups */
.pop-ups-fondo{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.274) ;
}

.forms{
    width: 60vw;
    display: flex;
    align-items: center;
}

.fondo-imagen{
    width: 15vw;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a5a5a5;
    border-radius: 1em;
    margin-bottom: 1vw;
}

.send-file{
    margin-top: 1.5vh;
}

textarea{
    width: 31vw;
    height: 4.5vh;
    border-radius: 0.4em;
    border: solid rgb(223, 223, 223) 0.15em;
    outline: none;
    padding: 1vh;
    margin-left: 1vw;
    resize: none;
}



/* 10. Estilos del contenedor pop-up eliminar */
#pop-up-eliminar{
    height: 26vh;
    width: 60vw;
    position: absolute;
    top: 10vh;
    left: 20vw;
    border-radius: 0.5em;
    background-color: rgb(230, 230, 230);
}

#pop-up-eliminar .bar-sup{
    width: 60vw;
    height: 7vh;
    background-color: #00AD00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5em 0.5em 0em 0em;
}

#pop-up-eliminar .bar-sup h2{
    padding: 5px 20vw;
    color: white;
}

#pop-up-eliminar .bar-sup button{
    width: 1.8vw;
    height: 1.8vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5em;
    margin-right: 0.5vw;
    border: solid #DFDFDF 2px;
}

#pop-up-eliminar .bar-sup button:hover{
    background-color: rgb(223, 223, 223);
    border: solid #bebebe 2px;
}

#pop-up-eliminar .bar-sup i{
    color: #00AD00;
    font-size: 18px;
}

#form-eliminar{
  width: 50vw;
  display: flex;
  flex-direction: column;
}

#form-eliminar label{
    margin-top: 1vh;
    width: 40vw;
    padding: 2vh;
    font-size: 16px;
}

#ID-eliminar{
    width: 15vw;
}

#form-eliminar input{
    height: 4.5vh;
    border-radius: 0.4em;
    border: solid rgb(223, 223, 223) 0.15em;
    outline: none;
    padding: 1vh;
    margin-left: 1vw;
}

#btn-eliminar{
    width: 8vw;
    height: 4vh;
    border-radius: 2em;
    margin-left: 26vw;
    margin-top: 1vh;
    background-color: rgb(201, 61, 61);
    border: solid rgb(172, 27, 27) 2px;
    cursor: pointer;
    color: white;
}

#btn-eliminar:hover{
    background-color: rgb(185, 42, 42);
    border: solid rgb(143, 11, 11) 2px;
}



/* 11. Estilos del contenedor pop-up mod */
#pop-up-mod{
    height: 60vh;
    top: 10vh;
    background-color: rgb(230, 230, 230);
    width: 60vw;
    position: absolute;
    left: 20vw;
    border-radius: 0.5em;
}

#pop-up-mod .bar-sup{
    width: 60vw;
    height: 7vh;
    background-color: #00AD00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5em 0.5em 0em 0em;
}

#pop-up-mod .bar-sup h2{
    padding: 5px 20vw;
    color: white;
}

#pop-up-mod .bar-sup button{
    width: 1.8vw;
    height: 1.8vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5em;
    margin-right: 0.5vw;
    border: solid #DFDFDF 2px;
}

#pop-up-mod button:hover{
    background-color: rgb(223, 223, 223);
    border: solid #bebebe 2px;
}

#pop-up-mod .bar-sup i{
    color: #00AD00;
    font-size: 18px;
}

#form-mod{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 32vw;
    margin-left: 2vw;
}

#form-mod label{
    width: 40vw;
    padding: 1.5vh;
    font-size: 14px;
}

#form-mod input{
    height: 4.5vh;
    border-radius: 0.4em;
    border: solid rgb(223, 223, 223) 0.15em;
    outline: none;
    padding: 1vh;
    margin-left: 1vw;
}

#label-id-modificar{
    margin-top: 4vw;
}

#nombre-mod{
    width: 25vw;
}

#descripcion-mod{
    width: 30vw;
    height: 15vh;
    border-radius: 0.5em;
    border: solid rgb(223, 223, 223) 0.15em;
    padding: 1vh;
    outline: none;
    resize: none;
    margin-left: 1vw;
}

#lote-mod{
    width: 10vw;
}

.imagen-producto-mod{
    width: 28vw;
    height: 73vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagen-producto-mod img{
    width: 14vw;
    height: 14vw;
}

.imagen-producto-mod input{
    margin-bottom: 13vw;
}

#btn-mod{
    width: 8vw;
    height: 4vh;
    border-radius: 2em;
    margin-left: 1vw;
    margin-top: 4vh;
    background-color: rgb(42, 155, 221);
    border: solid rgb(34, 128, 182) 2px;
    cursor: pointer;
    color: white;
}

#btn-mod:hover{
    background-color: rgb(17, 133, 201);
    border: solid rgb(15, 96, 143) 2px;
}



/* 12. Estilos del contenedor pop-up agregar */
#pop-up-agregar{
    height: 60vh;
    width: 60vw;
    position: absolute;
    top: 10vh;
    left: 20vw;
    border-radius: 0.5em;
    background-color: rgb(230, 230, 230);
}

#pop-up-agregar .bar-sup{
    width: 60vw;
    height: 7vh;
    background-color: #00AD00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5em 0.5em 0em 0em;
}

#pop-up-agregar .bar-sup h2{
    padding: 5px 20vw;
    color: white;
}

#pop-up-agregar .bar-sup button{
    width: 1.8vw;
    height: 1.8vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5em;
    margin-right: 0.5vw;
    border: solid #DFDFDF 2px;
}

#pop-up-agregar .bar-sup button:hover{
    background-color: rgb(223, 223, 223);
    border: solid #bebebe 2px;
}

#pop-up-agregar .bar-sup i{
    color: #00AD00;
    font-size: 18px;
}

.imagen-producto-agregar{
    width: 28vw;
    height: 73vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagen-producto-agregar img{
    width: 14vw;
    height: 14vw;
}

.imagen-producto-agregar input{
    margin-bottom: 13vw;
}

#form-agregar{
    display: flex;
    flex-direction: column;
    height: 73vh;
    width: 32vw;
    margin-left: 2vw;
}

#form-agregar label{
    width: 40vw;
    padding: 1.5vh;
    font-size: 14px;
}

#form-agregar input{
    height: 4.5vh;
    border-radius: 0.4em;
    border: solid rgb(223, 223, 223) 0.15em;
    outline: none;
    padding: 1vh;
    margin-left: 1vw;
}

#label-nombre-agregar{
    margin-top: 5vw;
}

#nombre-agregar{
    width: 25vw;
}

#descripcion-agregar{
    width: 30vw;
    height: 15vh;
    border-radius: 0.5em;
    border: solid rgb(223, 223, 223) 0.15em;
    padding: 1vh;
    outline: none;
    resize: none;
    margin-left: 1vw;
}

#lote-agregar{
    width: 10vw;
}

#btn-agregar{
    width: 8vw;
    height: 4vh;
    border-radius: 2em;
    margin-left: 1vw;
    margin-top: 4vh;
    background-color: rgb(33, 179, 65);
    border: solid rgb(14, 150, 43) 2px;
    cursor: pointer;
    color: white;
}

#btn-agregar:hover{
    background-color: rgb(15, 165, 48);
    border: solid rgb(3, 121, 28) 2px;
}