<section class="inventario">
        <div class="section-sup">
            <div class="number-products">
                <label for="num">Mostrar </label>
                <select id="num" [(ngModel)]="selectedLimit">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
                <p> productos</p>
            </div>

            <div class="paginacion">
                <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1"><i class='bx bx-chevron-left'></i></button>
                    <span>Página {{ currentPage }} de {{ totalPages }}</span>
                <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages"><i class='bx bx-chevron-right'></i></button>
            </div>

            <div class="container-buttons">
                <button id="eliminar" popovertarget="popup-eliminar"><i class='bx bx-minus'></i></button>
                <button id="modificar" popovertarget="popup-modificar"><i class='bx bxs-edit'></i></button>
                <button id="agregar" popovertarget="popup-agregar"><i class='bx bx-plus'></i></button>
            </div>

            <div class="container-search">
                <input type="text" placeholder="Buscar..." [(ngModel)]="filterPost" />
            </div>
        </div>

        <div class="container-tabla">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>N° Lote</th>
                        <th>Tipo de medicamento</th>
                        <th>Unidad de medida</th>
                        <th>Stock actual</th>
                        <th>Edición</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of filteredPosts">
                        <td>{{ post.lot.id }}</td>
                        <td>{{ post.lot.product.product_name }}</td>
                        <td>{{ post.lot.product.description }}</td>
                        <td>{{ post.lot.inventory_number }}</td>
                        <td>{{ post.lot.product.type }}</td>
                        <td>{{ post.lot.product.measure_unit }}</td>
                        <td>{{ post.amount }}</td>
                        <td>
                            <button (click)="openEditPopup(post)" popovertarget="popup-modificar">
                                <i class="bx bxs-edit"></i>
                            </button>
                            <button (click)="openDeletePopup(post.id, post.lot.id)" popovertarget="popup-eliminar">
                                <i class="bx bx-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

  <!-- Eliminar -->
    <div class="pop-ups-fondo" popover id="popup-eliminar">
        <div class="container-pop-up" id="pop-up-eliminar">
            <div class="bar-sup">
                <h2>Eliminar un producto</h2>
                <button popovertarget="popup-eliminar" popovertargetaction="hide"><i class='bx bx-x'></i></button>
            </div>
            <div class="form-eliminar">
                <label for="ID-eliminar">ID del producto</label>
                <input type="text" id="ID-eliminar" [(ngModel)]="inventoryIdToDelete" readonly>
                <button popovertarget="popup-eliminar" (click)="deleteInventory()" popovertargetaction="hide" type="submit" id="btn-eliminar">Eliminar</button>
            </div>
        </div>
    </div>

  
    <div class="pop-ups-fondo" popover id="popup-modificar">
        <div class="container-pop-up">
            <div class="bar-sup">
                <h2>Modificar inventario</h2>
            <button popovertarget="popup-modificar" popovertargetaction="hide">
                <i class='bx bx-x'></i>
            </button>
        </div>
        <div class="forms">
            <form id="form-mod" (ngSubmit)="updateInventory()" #formMod="ngForm">
                <label>ID del inventario</label>
                <input type="text" name="id" [(ngModel)]="editInventory.id" readonly />

                <label>Producto</label>
                <select name="productId" [(ngModel)]="editInventory.selectedProductId" required>
                    <option *ngFor="let product of productsList" [ngValue]="product.id">{{ product.product_name }}</option>
                </select>

                <label>Bodega</label>
                <select name="warehouseId" [(ngModel)]="editInventory.selectedWarehouseId" required>
                    <option *ngFor="let warehouse of warehouseList" [ngValue]="warehouse.id">{{ warehouse.warehouse_Name }}</option>
                </select>

                <label>Lote</label>
                <input id="lote-mod" type="text" name="lote" [(ngModel)]="editInventory.inventory_number" required />

                <label>Fecha de expiración</label>
                <input id="fecha-mod" type="date" name="fechaExpiracion" [(ngModel)]="editInventory.exp_date" required />

                <label>Precio unitario</label>
                <input id="precio-mod" type="number" name="precio" step="0.01" [(ngModel)]="editInventory.unit_price" required />

                <label>Stock</label>
                <input id="stock-mod" type="number" name="stock" [(ngModel)]="editInventory.stockAmount" required />

                <button popovertarget="popup-modificar" popovertargetaction="hide" type="submit" id="btn-mod">Modificar</button>
            </form>
        </div>
    </div>
  </div>


  <!-- Agregar -->
    <div class="pop-ups-fondo" popover id="popup-agregar">
        <div class="container-pop-up">
            <div class="bar-sup">
                <h2>Agregar inventario</h2>
                <button popovertarget="popup-agregar" popovertargetaction="hide">
                    <i class='bx bx-x'></i>
                </button>
            </div>
            <div class="forms">
                <form id="form-agregar" (ngSubmit)="addInventory()" #formAgregar="ngForm">
                    <label>Producto</label>
                    <select name="productId" [(ngModel)]="newInventory.selectedProductId" required>
                        <option *ngFor="let product of productsList" [ngValue]="product.id">{{ product.product_name }}</option>
                    </select>

                    <label>Bodega</label>
                    <select name="warehouseId" [(ngModel)]="newInventory.selectedWarehouseId" required>
                        <option *ngFor="let warehouse of warehouseList" [ngValue]="warehouse.id">{{ warehouse.warehouse_Name }}</option>
                    </select>

                    <label>Lote</label>
                    <input id="lote-agregar" type="text" name="lote" [(ngModel)]="newInventory.inventory_number" required />

                    <label>Fecha de expiración</label>
                    <input id="fecha-agregar" type="date" name="fechaExpiracion" [(ngModel)]="newInventory.exp_date" required />

                    <label>Precio unitario</label>
                    <input id="precio-agregar" type="number" name="precio" step="0.01" [(ngModel)]="newInventory.unit_price" required />

                    <label>Stock</label>
                    <input id="stock-agregar" type="number" name="stock" [(ngModel)]="newInventory.stockAmount" required />

                    <button popovertarget="popup-agregar" popovertargetaction="hide" type="submit" id="btn-agregar">Agregar</button>
                </form>
            </div>
        </div>
    </div>
