<!-- Barra superior -->
<header class="header">
  <div id="logo">
    <a [routerLink]="'/home'">
      <img src="icono.png" alt="logo" id="logo-img" />
    </a>
  </div>

  <nav>
    <ul class="nav-links">
      <li><a [routerLink]="'/checkout'"><i class="bx bx-cart"></i></a></li>

      <!-- Mostrar solo si NO está logeado -->
      <li *ngIf="!isLoggedIn()">
        <a [routerLink]="'/login'"><i class="bx bxs-user-circle"></i></a>
      </li>

      <!-- Mostrar solo si está logeado -->
      <li *ngIf="isLoggedIn()">
        <a [routerLink]="'/user'"><i class="bx bxs-user-circle"></i></a>
      </li>

      <!-- Botón de logout solo si está logeado -->
      <li *ngIf="isLoggedIn()">
        <a href="#" (click)="logout()" title="Cerrar sesión">
          <i class="bx bx-log-out"></i>
        </a>
      </li>

      <li><i class="bx bx-menu" (click)="openMenu()"></i></li>
    </ul>
  </nav>
</header>

<!-- División decoración -->
<div class="divisor"></div>

<!-- Menú lateral desplegable -->
<div id="side-menu-overlay" class="menu-overlay hidden" (click)="closeMenu()">
  <div id="side-menu" class="side-menu" (click)="$event.stopPropagation()">
    <span class="close-btn" (click)="closeMenu()">&#10005;</span>
    <nav class="side-menu-links">
      <div class="cont-imag">
        <img src="icono.png" alt="icono" />
      </div>
      <a [routerLink]="'/productos'">Gestión Productos</a>
      <a [routerLink]="'/bodega'">Gestión Bodega</a>
      <a [routerLink]="'/inventario'">Gestión inventario</a>
      <a [routerLink]="'/userlist'">Lista de Usuarios</a>
      <a [routerLink]="'/beneficios'">Lista Beneficios</a>
      <a [routerLink]="'/usuarios'">Gestión de usuarios</a>
      <a [routerLink]="'/fraccionamiento'">Fraccionamiento</a>
    </nav>
  </div>
</div>

<!-- app.component.html -->
<router-outlet></router-outlet>

<!-- Barra footer -->
<footer>
  <div class="logo-footer">
    <img src="icono.png" alt="icono footer" />
    <h3>Farmacia Caliz</h3>

    <div class="footer-redes-sociales">
      <a href="#" class="redes-sociales"><i class="bx bxl-facebook-circle"></i></a>
      <a href="#" class="redes-sociales"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="redes-sociales"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>

  <div class="informacion">
    <h3>Información para los clientes</h3>
    <p>Número de atención al cliente: +56 9 xxxx xxxx</p>
    <p>Horario de atención al cliente: xx:xx de lunes a sábado</p>
    <p>Dirección de las sucursales: xxxxxxxxxxxxxxxxxxxxxx</p>
  </div>

  <div class="preguntas-frecuentes">
    <h4>Preguntas frecuentes</h4>
    <a href="#" class="secciones-preguntas">Beneficios</a>
    <a href="#" class="secciones-preguntas">Compras</a>
    <a href="#" class="secciones-preguntas">Usuarios</a>
  </div>
</footer>

<!-- Línea de derechos de autor -->
<div class="end-page">Todos los derechos reservados &#169;</div>